.playlist {
  width: 280px;
  margin-bottom: 20px;
  border: 1px solid #CACACA;
  margin-top: 20px;
  padding: 0 !important;
}

/* line 10, ../../src/css/playlist-demo.sass */
.playlist li {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #eeeeee;
  padding: 0 20px;
  cursor: pointer;
}

/* line 15, ../../src/css/playlist-demo.sass */
.playlist li:hover {
  background: #f4f4f4;
}

/* line 17, ../../src/css/playlist-demo.sass */
.playlist li .time {
  font-size: 12px;
  color: #999999;
  margin-left: 15px;
}

/* line 21, ../../src/css/playlist-demo.sass */
.playlist li .play-btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 12px;
  width: 12px;
  background: url("../image/play.png") no-repeat;
  -webkit-background-size: 12px, 12px;
  -moz-background-size: 12px, 12px;
  -o-background-size: 12px, 12px;
  background-size: 12px, 12px;
  overflow: hidden;
  margin-right: 20px;
}

/* line 25, ../../src/css/playlist-demo.sass */
.playlist li.playing .play-btn {
  background-image: url("../image/pause.png");
}